<%= form_with model:translation do |form| %>
  <div>
    <%= form.label :translated_term %><br>
    <%= form.text_field :translated_term %>
  </div>

  <div>
    <%= form.label :language %><br>
    <%= form.select :language, Language.all.collect {
      |l| [l.name, l.id]
    }, {include_blank: true, selected: language.to_i } %>
  </div>

  <div>
    <%= form.label :term %><br>
    <%= form.select :term, Term.all.collect {
      |t| [t.original, t.id]
    }, {include_blank: true, selected: term.to_i } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
