<p style="color: green"><%= notice %></p>

<%= render @term, maybe_translations: @maybe_translations%>

<div>
  <%= link_to "Edit this term", edit_term_path(@term) %> |
  <%= link_to "Add a translation for this term", new_translation_path(:term => @term) %> |
  <%= link_to "Back to terms", terms_path %>

  <%= button_to "Destroy this term", @term, method: :delete %>
</div>
